



/*     styling SVG Map                 */

svg {  
    height:50vh;
    width: 70vw;
    
    --mapColor:#c49e21;
    --mapHColor:#b49464;
}
.st1{
    color: beige;
}
#errachidia{
    
    fill: var(--mapColor);
}
#tinghir{
    
    fill: var(--mapColor);
}
#zagora{
    
    fill: var(--mapColor);
}
#midelt{
    
    fill: var(--mapColor);
}
#ouarzazate{
    
    fill: var(--mapColor);
}
#errachidia:hover{
    fill: var(--mapHColor);
}
#ouarzazate:hover{
    fill: var(--mapHColor);
}
#zagora:hover{
    fill: var(--mapHColor);
}
#midelt:hover{
    fill: var(--mapHColor);
}
#tinghir:hover{
    fill: var(--mapHColor);
}

.main-prp{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    
}

.textabout{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}

.textabout>h3{
    padding: 15px;
    border-bottom: 3px solid darkgray;
    text-align: center;
}

.textabout>div>p{
    text-align: center;
}