.all-page{
    padding: 50px;
    background-color: rgb(249 247 245);
}
        

.input-group{
            width: 250px;
            
           
        }
        .information>form>div ,.chamber,.dure,.confirmation_res,.payment,.prix{
            margin-left: 10px;
            margin-right: 10px;
        }
   
     
        .chamber>div>select,.chamber>div>input,  .dure>div>input{
            width: 250px;
            
        }
    
        .prix{
            width: 100%;
            
        }

    .prix>span{
        text-align: center;
    }
    .payment>label{
        width: 250px;
        border: 1px solid black;
    }
    .confirmation_res>button,.confirmation_res>input{
        width: 250px;
        margin-top: 5px;
        border: none;
        background-color: bisque;
        border-radius: 3px;
        margin-right: 5px;

    }
    .confirmation_res>button>a{
        
        text-decoration: none;
        color: #212529;
    }
    
    .confirmation_res>button:hover,.confirmation_res>input:hover{
        
        background-color: rgb(192, 192, 191);
    }
    .reservehotel{
        border-radius: 10px;
       background-color: rgb(255, 255, 255);
        padding: 25px;
        height: max-content;

    }
    h4{
         margin-top: 12px;
         margin-bottom: 12px; 
    }
    
    
    .nomber-per{
      
    }

    .mb-3 {
    margin-bottom: 16px;
}
    
.img_hotel{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blueviolet;
   
}
.img_hotel>img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.date-fin{

}
.hotel_des{
   width:50%;
    padding:25px;
}
.all-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.dure, .information,.chamber,.confirmation_res{
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.bi-star-fill{
            color: rgb(250, 167, 13);
            
        }
        .bottom_footer{
 
 background-color: #1e4633;
 height: 30px;
 text-align: center;
 
     }
     .test{
         height:auto;
         width: 100%;
       
     }
 
     .box-hotel{
         background-color: white;
         border: none;
     }
     .countainer{
         margin: 0px;
         padding: 0px;
         
         flex-wrap: wrap;
     justify-content: center;
    
     }
     .top-header{
         width: 100%;
        height: 100%;
         background-image: url('img/tinghir.jpg');
         background-repeat: no-repeat;
         background-size: cover;
     }
     
  
     footer{
         width: 100%;
     }
     .center-bar{
 
         background-color: rgb(25, 63, 32);
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
     align-items: center;
     }
     .center-bar>div>input{
         display: flex;
          align-items: center;
          width: 100%;
      height: 50px;
     }
     .center-bar>div{
         box-sizing: unset;
         width: 80%;
     }
     .bottom_footer>span>a{
 text-decoration: none;
 color: white;
 border-right: 1px solid white;
 padding-right: 7px;
 }
 
 .bottom_footer>span{
 color: white;
 position: relative;
 top: 3px;
 }
   
 
 nav{
 background-color:#469754;
 }
 .logo{
 margin-left: 79px;
 }
 @media (max-width: 600px) {
         .logo {
             float: left;
 margin-left:0px; /* Change margin for smaller screens */
 }
 .bar_top_sec {
 float: right;
 }
 }
 .bar_top_sec >ul>li{
 margin-top: 5px;
 cursor: pointer;
 }


 .description{
    margin-top: 5px;
 }
 .location{
    border-radius: 5px;
    width: 40vw;
    height: 40vh;
    margin-top: 5px;
 }
 .location>iframe{
    border-radius: 5px;
    width: 40vw;
    height: 40vh;
 }
 .description>img{
    border-radius: 5px;
    width: 40vw;
    height: 40vh;
    margin-top: 5px;
 }
  /* Media query for devices with a maximum width of 600px */
  @media (max-width: 600px) {
    .hotel_des {
      width: 80%;
      padding: 0px;
    }
  
    .logo {
      float: left;
      margin-left: 0px; /* Change margin for smaller screens */
    }
  
    .bar_top_sec {
      float: right;
    }
    .description>img{
        width: 60vw;
       
     }
     .location{
        width: 60vw;
     }
     .location>iframe{
        width: 60vw;
     }
     .all-page {
        padding: 10px;
     }
  }
  .container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  html, body {
    height: 100%;
    margin: 0;

  }



  .modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Position it on top of other content */
    z-index: 1; /* Set a high z-index value to make it appear on top */
    border-radius: 8px;
    top:20%;
    right: 62px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(21, 117, 21); /* Black background with transparency */
  }
  
  /* Style for the modal content */
  .modal-content {
    /* background-color: #fefefe; */
    margin: 15% auto; /* 15% from the top and centered horizontally */
    padding: 20px;
    /* border: 1px solid #888; */
   
  }
  .modal-content a{
    text-decoration: none;
    color: white;
  }
  .modal-content a:hover{
    text-decoration: none;
    color: rgb(155, 148, 148);
  }
  
  
  /* Style for the close button */
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  /* Hover effect on the close button */
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
     
  

  