
body{
  max-width: 1351px;
  padding: 0;
  margin: 0;
}
.top_containner{
  width: 100%;
 


}
 

  .top_bar{
      margin-left: 150px;
  }
  .top_bar>ul>li{
      padding-left: 20px;
      padding-right: 20px;
     
  }
  .top{
     
  
  }
  .banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
  .banner ul li { float: left; }
  #backstretch {
  left: 0px;
  right: 0px;
    width: 100%;
  height: 100vh;
}
.bar_top_first{
width: 100%;
height: 50px;
background-color: #1C5425;


}

.bar_top_sec{
background-color: #469754;
}
.bar_top_sec >ul>li{
list-style: none;
display: inline;
margin:0 20px 0 20px;
}
.bar_top_sec >ul>li>a{
text-decoration: none;
color: white;
}
.bar_top_first>ul>li{
list-style: none;
display: inline;

border-left: solid 1px wheat;
}
.bar_top_first>ul{
position: relative;

}
.bar_top_first>ul>li>a{
text-decoration: none;
color: white;
}
.search-container {
display: flex;
align-items: center;
width: 150px;
height: 40px;

overflow: hidden;
}






.bar_top_first {
display: flex;
align-items: center;
justify-content: flex-end;
height: 40px;
width: 100%;
/*padding: 0 10px;*/

}

.bar_top_first ul {
list-style: none;
margin: 0;
padding: 0;
height: 100%;
display: flex;

}


.search-container {
display: flex;
align-items: center;

height: 100%;
}

.search-container input[type="text"] {
width: 150px;
height: 100%;
border: none;
outline: none;
padding: 0 10px;
font-size: 16px;
color: white;
background-color:  #1F5C3F
;
}
::placeholder { 
color: white;
opacity: 1; /* Firefox */
}
dl, ol, ul {
margin-top: auto;
margin-bottom: auto;
}
.social_media{

padding: 9px 12px 0 12px;
}
.bar_top_sec{
height: 100px;
/*background-color: #A7C44F;*/
display: flex;
align-items: center;

}
.logo{
padding-right: 150px;
margin-left: 79px;
}
.pre_paragraf{
color: rgb(255, 255, 255);
padding-left: 70px;
padding-top: 135px;
font-size: 2em;
font-weight: lighter;
font-family:  'Roboto Condensed'
;

}
.bar_top_sec{
  height: 100%;
}
.welcome{
width: max-content;

padding:14px  46px 8px 8px;
background-color: hsl(0, 0%, 0%,0.3);

}

@media screen and (max-width: 600px) {
  .welcome{
    padding:14px 26px 8px 8px;
  }
  .logo{
    text-align: center;
    padding-right: 0;
    margin-left: 0;

  }
}

.region{
width: max-content;
color: black;
padding: 10px;
background-color: yellow;
}
.welcome>span{
font-weight: bold;

}
.bi-caret-left-fill {
background-color: blue;
}
.bi-caret-right-fill{
background-color: blue;

}
.pre_paragraf>div:last-child{
margin-top: 20px;
}
.pre_paragraf>div>i{
padding: 5px;
margin: 12px 4px 8px 5px;
}
.hotel_sec{
/* margin:50px;
padding-left: 19px; */
padding-top: 29px;
position: relative;
padding-bottom: 50px;
}

.hotel_sec>div{
margin-left: 15px;
}


/* Hotel section */

.hotel-see{
  width: 80%;
  margin-left: 10%;
}

.toptext{
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.toptext>div>span{
  font-size: 1.6em;
  font-weight: bold;
}
.frsttoptext{
  font-family:Unica none;
  font-size: 20px;
  letter-spacing: 8px;
}

.sectoptext{
  font-size: 20px;
text-align: center;
}
.second-hotel{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

@media screen and (max-width: 600px) {
  .toptext>div>span{
    font-size: 1.6em;
    font-weight: bold;
  }
  .frsttoptext{
    font-family:Unica none;
    font-size: 12px;
    letter-spacing: 4px;
  }
  .sectoptext{
    font-size: 20px;
  }
  .pre_paragraf{
    padding-left: 8px;
  }
  .bar_top_sec >ul>li {
    margin: 0 20px 0 20px;
  }
  
}


.swapp{
 /* font-weight: bold; */
 font-size: 2em;
position: absolute;

}
.swiper-button-nextt{
  left:1px;
  position: absolute;
    top: 51%;
    transform: translateY(-50%);
    z-index: 1000;
}

.swiper-button-prevv{
  right: 1px;
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  z-index: 1000;
}

.swiper>i{
  color: #00ff43;
}
nav{
  background-color:#469754;
  }